@model UnitOfWorkRepository.ViewModels.TagViewModel

@*<tr>
    @using (Html.BeginCollectionItem("TagViewModels"))
    {*@
     <td>
        @Html.EditorFor(model => model.Tag.Name, new { htmlAttributes = new { @class = "form-control" } })
    </td>
       
    @*}
</tr>*@


